<AuthorizeView>
    <Authorized>        
        <a href="logout" target="_blank">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=/" target="_blank">Log in</a>
    </NotAuthorized>
</AuthorizeView>