@page "/counter"
@using Microsoft.AspNetCore.Http
@using ClientApplication.Service
@using ClientApplication.ViewModel
@inject LoginCheckService SampleService
@inject CounterStateViewModel _counterStateViewModel;
@* @attribute [Authorize] *@

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_counterStateViewModel.Count</p>

<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="(() => _counterStateViewModel.Count++)">Click me</MudButton>